<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="{{ url_for('static',filename='/img/android-chrome-192x192.png') }}" rel="icon">
    <link href="{{ url_for('static',filename='/img/apple-touch-icon.png') }}" rel="apple-touch-icon">
</head>
<body>
    <h1 class="goal">მოგესალმებით Fittapp-ზე</h1>
    <img class="logo" src="{{ url_for('static',filename='/img/mini logo.png') }}" alt="">
<div class="center">
    <div class="container">
        <div class="text">შესვლა</div>
        <form method="POST" action="{{ url_for('auth_bp.login') }}">
            {{ form.csrf_token }}
            <div class="data">
                {{ form.email.label }}
                {{ form.email(placeholder='ელფოსტა') }}
                {% if form.email.errors %}
                <ul class="errors">
                    {% for error in form.email.errors %}
                    <li>{{ error }}</li>{% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="data">
                {{ form.password.label }}
                {{ form.password(placeholder='პაროლი') }}
                {% if form.password.errors %}
                <ul class="errors">
                    {% for error in form.password.errors %}
                    <li>{{ error }}</li>{% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="forgot-pass"><a href="#">დაგავიწყდათ პაროლი?</a></div>
            <div class="btn">
                {{ form.submit }}
            </div>
            <div class="signup-llink">არ ხართ ჩვენი წევრი? <a href="{{ url_for('auth_bp.signup') }}">დარეგისტრიდით აქ</a></div>
        </form>
    </div>
</div>
    
</body>
</html>